body{

	margin: 0;
	padding: 0;
}
#logotip{
	width: 7%;
	height: 7%;
	border-radius: 10%;
}

#registr{
	position: absolute;
	top: 3%;
	left: 80%;
}

#enter{
	position: absolute;
	top: 3%;
	left: 90%;
}



.img_main{
	 width: 100%;
	 outline: 0;
	 cursor: default;
	 background-size: 100%;
	 background-position: center;
	 background-repeat: no-repeat;
 }
.img_main1{
	width: 100%;
	outline: 0;
	cursor: default;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

#main_pic{
     display: flex;
	background-size: 100%;
	width: 100%;
	height: 100%;
	justify-content: center;
	position: absolute;
	left: 0px;
	top: 0px;
}
#main_pic1{
	display: flex;
	background-size: 100%;
	width: 100%;
	height: 100%;
	justify-content: center;
	position: absolute;
	left: 0px;
	top: 0px;
}

nav {
	/*margin: 100px 0;*/
	background-color: rgba(0, 0, 0, 0.3);
	position: relative;
	z-index: 1;
}

/* убираем отступы и поля, а также list-style для "ul",
 * и добавляем "position:relative" */
nav ul {
	padding:0;
	margin:0;

	list-style: none;
	position: relative;
}

/* применяем inline-block позиционирование к элементам навигации */
nav ul li {
	margin: 0px -6px 0 0;
	display:inline-block;
}

/* стилизуем ссылки */
nav a {
	display:block;
	padding:0 8px;
	color:#FFF;
	font-size: 25px;
	line-height: 60px;
	text-decoration:none;


}

/* изменяем цвет фона при наведении курсора */
nav a:hover {
	background-color: #000000;
}
/* скрываем выпадающие списки по умолчанию
			 * и задаем абсолютное позиционирование */
nav ul ul {
	display: none;
	position: absolute;
	top: 100%;
}

/* отображаем выпадающий список при наведении */
nav ul li:hover > ul {
	display:inherit;
}

/* первый уровень выпадающего списка */
nav ul ul li {
	min-width:170px;
	float:none;
	display:list-item;
	position: relative;
}