table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    position: relative;
}
th{
    /*background: #AFCDE7;*/
    background-color: #272727;
    color: white;
    padding: 10px;
}
th, td {
    padding: 10px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    /*border-color: white;*/
    border-color: black;
}
td {
    /*background: #D8E6F3;*/
    background: grey;
}


.bt{
    font-size:1.3em;
    cursor: pointer;
    background: white;
    color: black;
    border: none;
    outline: 0;
}

.bt:hover{
    background: #F5B041;
}
nav {
    /*margin: 100px 0;*/
    position: relative;
    z-index: 1;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.3);
}

/* убираем отступы и поля, а также list-style для "ul",
 * и добавляем "position:relative" */
nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}

/* применяем inline-block позиционирование к элементам навигации */
nav ul li {
    margin: 0px -7px 0 0;
    display:inline-block;

}

/* стилизуем ссылки */
nav a {
    display:block;
    padding:0 8px;
    color:#000000;
    width: 120px;
    text-align: center;
    font-size:25px;
    line-height: 60px;
    text-decoration:none;
}

/* изменяем цвет фона при наведении курсора */
nav a:hover {
    background-color: rgba(0,0,0,0.5);
    color: white;
}
/* скрываем выпадающие списки по умолчанию
			 * и задаем абсолютное позиционирование */
nav ul ul {
    display: none;
    position: absolute;
    color: black;
    background: white;
    top: 100%;
}

/* отображаем выпадающий список при наведении */
nav ul li:hover > ul {
    display:inherit;
}

/* первый уровень выпадающего списка */
nav ul ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
}