table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    position: relative;
}
th{
    /*background: #AFCDE7;*/
    background-color: #272727;
    color: white;
    padding: 10px;
}
th, td {
    padding: 10px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    /*border-color: white;*/
    border-color: black;
}
td {
    /*background: #D8E6F3;*/
    background: grey;
}


.bt{
    font-size:1.3em;
    cursor: pointer;
    background: white;
    color: black;
    border: none;
    outline: 0;
}

.bt:hover{
    background: #F5B041;
}